<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>789673963253-o36ifecbp59vssls6une4ugi2glke1hp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.789673963253-o36ifecbp59vssls6une4ugi2glke1hp</string>
	<key>API_KEY</key>
	<string>AIzaSyBQcCBL-O6n45XBEBfcabsL03vcbjCMzKI</string>
	<key>GCM_SENDER_ID</key>
	<string>789673963253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tjlabscorp.ios.innerLabs</string>
	<key>PROJECT_ID</key>
	<string>innerlabs-e0c2c</string>
	<key>STORAGE_BUCKET</key>
	<string>innerlabs-e0c2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789673963253:ios:5c3d4ba735f276ff70dfbc</string>
</dict>
</plist>