//
//  SecretConfig.xcconfig
//  JupiterSDK_Example
//
//  Created by 신동현 on 2023/03/09.
//  Copyright © 2023 CocoaPods. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

S3_BUCKET_NAME = tjlabs-collect
S3_ACCESS_KEY = AKIA54UJFMQ3QZ75ANAS
S3_SECRET_KEY = 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
S3_FILE_KEY = ios/
